body {
  background-color: $white;
}

img {
  // height: 100%;
  &::selection {
    background: rgba($color-primary, 0.5)
  }
}

.img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 1040px;
  max-height: 1200px;
  margin: 0 auto;
}