body {
  font-size: $font-size;
  font-family: $font-family;
  color: $color-text;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  margin: 0;
}


h1, .h1 {
  font-size: 10em;
  font-family: $font-family--header;
  font-weight: 200;
  color: beige;
  text-align: center;
  text-transform: uppercase;
}
h2, .h2 {
  font-size: 2.5em;
  font-family: $font-family--header;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 200px 0px 100px 0px;
  color: $color-header;
}
h3, .h3 {
  font-size: 1.5em;
  font-family: $font-family;
  color: $color-header;
}
h4, .h4 {
  font-size: 1.5em;
  font-family: $font-family;
  color: $color-header;
}
h5, .h5 {
  font-size: 1.5em;
  font-family: $font-family;
  color: $color-header;
}
h6, .h6 {
  font-size: 0.85em;
  font-family: $font-family;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.9em;
  margin: 50px 0px;
  color: $color-header;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 2;
  color: darken($white--ddd,30%);
  margin: 0px 0px 1em 0px;
}

em {
  color: orangered;
  font-style: normal;
}