// Utilities

//     Borders
//     Clearfix
//     Close icon
//     Colors
//     Display
//     Embed
//     Flex
//     Float
//     Image replacement
//     Position
//     Screenreaders
//     Sizing
//     Spacing
//     Text
//     Vertical align
//     Visibility 


.u-hidden {
  display: none;
}

.u-remove {}

.u-d-none {
  display: none;
}

.u-placeholder {
  color: $color-text--placeholder;
}