// Utilities

//     Borders
//     Clearfix
//     Close icon
//     Colors
//     Display
//     Embed
//     Flex
//     Float
//     Image replacement
//     Position
//     Screenreaders
//     Sizing
//     Spacing
//     Text
//     Vertical align
//     Visibility 

.u-link-darkbg {
  color: $color-secondary;
  font-size: 0.9em;
  text-decoration: none;
  &:hover {
    color: $color-secondary--ll;
  }
}

.u-dflex2 {
  display: flex;
  flex: 0 1 auto;
  p {
    flex: 0 1 75%;
  }
}

.u-dflex {
  display: flex;
}

.u-dblock {
  display: block;
}

.u-center {
  margin: 0 auto;
}



.u-basis-25 {
  flex-basis: 25%;
  max-width: 25%;
}



.u-hidden {
  display: none;
}

.u-dnone {
  display: none;
}

.u-placeholder {
  color: $color-text--placeholder;
}

// .u-debug {
//   border: 1px solid red;
// }
// .u-debug2 {
//   border: 1px solid orangered;
// }
// .u-debug3 {
//   border: 1px solid orange;
// }
// .u-debug4 {
//   border: 1px solid yellow;
// }
// .u-debug5 {
//   border: 1px solid yellowgreen;
// }
// .u-debug6 {
//   border: 1px solid lime;
// }
// .u-debug7 {
//   border: 1px solid aquamarine;
// }
// .u-debug8 {
//   border: 1px solid cyan;
// }
// .u-debug9 {
//   border: 1px solid violet;
// }
// .u-debug10 {
//   border: 1px solid fuchsia;
// }
// .u-debugw {
//   border: 1px solid white;
// }
// .u-debugb {
//   border: 1px solid black;
// }