@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
* {
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.u-link-darkbg {
  color: #b08a76;
  font-size: 0.9em;
  text-decoration: none; }
  .u-link-darkbg:hover {
    color: #d5c1b7; }

.u-dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }
  .u-dflex p {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%; }

.u-dblock {
  display: block; }

.u-center {
  margin: 0 auto; }

.u-basis-25 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%; }

.u-hidden {
  display: none; }

.u-d-none {
  display: none; }

.u-placeholder {
  color: #bd3200; }

body {
  font-size: 1.2em;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #777777; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0; }
  h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, .h1::-moz-selection, .h2::-moz-selection, .h3::-moz-selection, .h4::-moz-selection, .h5::-moz-selection, .h6::-moz-selection {
    color: #000;
    background: rgba(176, 138, 118, 0.2); }
  h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, .h1::selection, .h2::selection, .h3::selection, .h4::selection, .h5::selection, .h6::selection {
    color: #000;
    background: rgba(176, 138, 118, 0.2); }

h1, .h1 {
  font-size: 10em;
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-weight: 100;
  color: beige;
  text-align: center;
  text-transform: uppercase; }

h2, .h2 {
  font-size: 2.5em;
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 200px 0px 100px 0px;
  color: #d9d9d9; }

h3, .h3 {
  font-size: 1.5em;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #d9d9d9; }

h4, .h4 {
  font-size: 1.5em;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #d9d9d9; }

h5, .h5 {
  font-size: 1.5em;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #d9d9d9; }

h6, .h6 {
  font-size: 0.85em;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.9em;
  margin: 50px 0px;
  color: #d9d9d9; }

p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 2;
  color: #777777;
  margin: 0px 0px 1em 0px; }
  p::-moz-selection {
    background: rgba(176, 138, 118, 0.2); }
  p::selection {
    background: rgba(176, 138, 118, 0.2); }

span::-moz-selection {
  color: #fff;
  background: rgba(176, 138, 118, 0.5); }

span::selection {
  color: #fff;
  background: rgba(176, 138, 118, 0.5); }

em {
  color: #bd3200;
  font-style: normal; }
  em::-moz-selection {
    background: rgba(176, 138, 118, 0.2); }
  em::selection {
    background: rgba(176, 138, 118, 0.2); }

a {
  color: #b08a76;
  -webkit-transition: 0.2s color;
  -o-transition: 0.2s color;
  transition: 0.2s color; }
  a:hover {
    color: #594134; }
  a::-moz-selection {
    color: #bd3200;
    background: rgba(176, 138, 118, 0.5); }
  a::selection {
    color: #bd3200;
    background: rgba(176, 138, 118, 0.5); }

body {
  background-color: #fff; }

img::-moz-selection {
  background: rgba(189, 50, 0, 0.5); }

img::selection {
  background: rgba(189, 50, 0, 0.5); }

.img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto; }

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  max-width: 1040px;
  max-height: 1200px;
  margin: 0 auto; }

.l-wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1040px; }

.top {
  position: relative;
  height: calc( 100vh + 300px);
  background-color: #000;
  background-image: url("/img/main.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden; }

.top__subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 10%;
  color: #bd3200;
  position: absolute;
  top: 15vh; }

.top__header {
  position: absolute;
  top: 40vh;
  width: 100%;
  z-index: 10; }

.top-gallery {
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  background-color: #1d1812;
  z-index: 1; }
  .top-gallery::before {
    content: '';
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 24, 18, 0)), to(#1d1812));
    background-image: -o-linear-gradient(rgba(29, 24, 18, 0), #1d1812);
    background-image: linear-gradient(rgba(29, 24, 18, 0), #1d1812);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    bottom: 100%; }

.top-gallery__overflow {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.top-gallery__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%; }

.top-gallery__img {
  margin: 15px;
  width: calc( 25% - (90px / 4));
  height: calc( 50% - (60px / 2));
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity; }
  .top-gallery__img:nth-of-type(4n), .top-gallery__img:nth-of-type(4n + 3) {
    margin-top: 60px;
    margin-bottom: -30px; }
  .top-gallery:hover .top-gallery__img:not(:hover) {
    opacity: 0.6; }

.top-gallery__frames {
  position: relative;
  margin-top: -135px;
  margin-bottom: -160px;
  height: 300px;
  width: 100%;
  z-index: 1; }
  .top-gallery__frames::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: linear-gradient(rgba(255, 255, 255, 0), white); }

.top-gallery__frame {
  border: 1px solid #b08a76;
  opacity: 0.2;
  margin: 15px;
  width: calc( 25% - (90px / 4));
  height: calc( 50% - (60px / 2));
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity; }
  .top-gallery__frame:nth-of-type(4n), .top-gallery__frame:nth-of-type(4n + 3) {
    margin-top: 60px;
    margin-bottom: -30px; }

.who {
  overflow: hidden; }

.who__photo {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }

.who__photo-text {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding-left: 30px; }

.who__photo-img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.what__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 550px; }
  .what__article:nth-child(2n+1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .what__article:nth-child(2n+1) .what__article-text {
      margin-left: 0px;
      margin-right: -200px; }
  .what__article:not(:first-of-type) {
    margin-top: -50px; }
  .what__article:nth-of-type(2) > .what__article-photo {
    background-image: url("https://picsum.photos/1000/550/?random&2"); }
  .what__article:nth-of-type(3) > .what__article-photo {
    background-image: url("https://picsum.photos/1000/550/?random&3"); }
  .what__article:nth-of-type(4) > .what__article-photo {
    background-image: url("https://picsum.photos/1000/550/?random&4"); }
  .what__article:nth-of-type(5) > .what__article-photo {
    background-image: url("https://picsum.photos/1000/550/?random&5"); }

.what__article-photo {
  height: 100%;
  width: 50%;
  background-image: url("https://picsum.photos/1000/550/"); }

.what__article-logo {
  margin-bottom: 30px; }

.what__article-text {
  font-size: 0.8em;
  height: calc( 100% - 100px);
  width: calc( 50% + 200px);
  padding: 100px;
  background-color: #fff;
  margin-left: -200px;
  overflow: hidden; }

.tweets__tweets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.tweets__tweet {
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(black)), url("https://picsum.photos/1000/550/");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.8), black), url("https://picsum.photos/1000/550/");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), black), url("https://picsum.photos/1000/550/");
  color: #fff;
  height: 360px;
  width: calc(50% - 15px);
  padding: 35px 30px; }

.tweets__avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px; }

.tweets__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tweets__author {
  margin: auto 0;
  font-size: 0.7em;
  line-height: 1.5; }

.tweets__name {
  color: #fff;
  font-size: 1.1em; }

.tweets__login {
  font-size: 0.9em; }

.tweets__text {
  height: calc( 100% - 60px - 20px - 2em);
  bottom: 0px;
  position: relative;
  color: #fff;
  line-height: 1.6;
  font-size: 0.85em;
  margin-top: 20px;
  margin-bottom: 0px; }
  .tweets__text--large {
    font-size: 1em; }
  .tweets__text::-moz-selection {
    color: #fff;
    background: rgba(176, 138, 118, 0.5); }
  .tweets__text::selection {
    color: #fff;
    background: rgba(176, 138, 118, 0.5); }

.tweets__date {
  font-size: 0.6em;
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 0px; }

.follow__groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.follow__group {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-bottom: 100px; }

.follow__header {
  text-align: center;
  margin-left: 0.9em; }

.follow__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: -1.5em auto 2em auto;
  list-style: none; }

.follow__link {
  font-size: 0.75em;
  font-weight: 300;
  text-decoration: none;
  margin-right: 2em; }
  .follow__links li:last-of-type .follow__link {
    margin-right: 0px; }

.follow__bottom {
  width: 100%;
  border-bottom: 44px solid #b08a76; }
  .follow__bottom img {
    display: block;
    margin: 0 auto -44px auto;
    max-width: 100%; }

/*
// Components

//     Alerts
//     Badge
//     Breadcrumb
//     Buttons
//     Button group
//     Card
//     Carousel
//     Collapse
//     Dropdowns
//     Forms
//     Input group
//     Jumbotron
//     List group
//     Modal
//     Navs
//     Navbar
//     Pagination
//     Popovers
//     Progress
//     Scrollspy
//     Tooltips 
*/

/*# sourceMappingURL=maps/style.css.map */
