.top {
  position: relative;
  height: 100vh;
  background-color: #300;
}

.top__subheader {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 10%;
  color: orangered;
  position: absolute;
  top: 15vh;
}

.top__header {
  position: absolute;
  top: 40vh;
  width: 100%;
}