.top {
  position: relative;
  // height: 130vh;
  height: calc( 100vh + 300px );
  background-color: #000;
  background-image: url('/img/main.jpg');
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.top__subheader {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 10%;
  color: $color-primary;
  position: absolute;
  top: 15vh;
}

.top__header {
  position: absolute;
  top: 40vh;
  width: 100%;
  z-index: 10;
}